@font-face {
    font-family: 'Bitter';
    src: url('../images/Bitter/Bitter-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bayon';
    src: url('../images/Bayon/Bayon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bitter', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #fff;
    /* background-color: #0e1130; */
    background: rgb(18,21,54);
    background: linear-gradient(130deg, rgba(18,21,54,1) 0%, rgba(12,20,77,1) 100%); 
    overflow: hidden;
}

.hidden {
    display: none!important;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* color: #ff4f5e; */
    background-color: #111227b4;
    backdrop-filter:blur(35px);
    -webkit-backdrop-filter:blur(35px);
}

.playBottom {
    height: 70px;
    background-color: rgba(78, 83, 143, 0.555);
    backdrop-filter:blur(8px);
    -webkit-backdrop-filter:blur(8px);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* horizontal align centre */
    justify-content: center;
    /* box-shadow: 0px 0px 10px #0400181f; */
}

.bigText {
    z-index: -5;
    position: absolute;
    font-size: 300px;
    font-weight: bold;
    color: #ff4f5e;
    font-family: 'Bayon', serif;
    opacity: 0%;
    /* top: 1%;
    left: 1%; */
}

.body {
    padding-top: 50px;
    display:flex;
    flex-direction:row;
    padding-bottom: 20px;
    height: calc(100vh - 140px);
    background-color: #111227b4;
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);
}

.leftBar {
    padding-top: 50px;
    width: 25%;
    max-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    /* centre content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #ffffff0e;
}
.playlists {
    font-size: 18px;
}
.playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 20px 20px; */
    padding: 5px 20px;
    margin-bottom: 25px;
    cursor: pointer;
    border-left: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}
.playlist:hover {
    border-left: 2px solid #ff4f5e;
}
.active {
    border-left: 2px solid #ff4f5e;
    color: #ff4f5e;
    text-shadow: 0px 0px 10px #ff4f5e7e;
}

.songs {
    height: calc(100vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    padding-left: 50px;
    padding-top: 20px;
}
.song {
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #ffffff0e;
    border-radius: 5px;
    color: #ffffffd2;
}
.song:hover {
    background-color: #ffffff0e;
    color: #fff;
}

.content {
    /* background-color: #111227b4; */
    /* backdrop-filter:blur(25px);
    -webkit-backdrop-filter:blur(25px); */
}

.activeSong {
    background-color: #ffffff07;
    border-radius: 5px;
}

/* playBottom */

.btn {
    background: none;
    border: none;
    color: #ffffffbe;
    cursor: pointer;
}
.btnImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    filter: invert(100%);
}

.leftControls, .rightControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    max-width: 300px;
    padding: 0 20px;
    /* vertically centre */
    position: relative;
}
.rightControls {
    width: 10%;
}

.shuffle, .repeat, .skipBack, .playPause, .skipForward {
    opacity: 80%;
}
.shuffle:hover, .repeat:hover, .skipBack:hover, .playPause:hover, .skipForward:hover {
    opacity: 100%;
}

.customControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    width: 80%;
}

.dull {
    opacity: 0.5;
}

.centreControls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progressContainer {
    width: 80%;
    height: 4px;
    background-color: #eeeeee69;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.progressBar {
    height: 4px;
    background-color: #fff;
    width: 0%; /* Initial width */
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
/* .centreControls:hover .progressBar, .centreControls:hover .progressContainer {
    height: 5px;
} */
.songTitle {
    margin-bottom: 10px;
    cursor: default;
}

#volumeSlider {
    height: 5px;
    background-color: #eeeeee69;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 80%;
    width: 100px!important;
    border-radius: 5px;
}

#volumeSlider:hover {
    opacity: 1;
    height: 5px;
}
  
/* slider colours */

#volumeSlider::-moz-range-progress {
    background-color: #fff;
    height: 5px;
    border-radius: 5px;
}
#volumeSlider::-webkit-progress-value {
    background-color: #fff;
    height: 5px;
    border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
    background: transparent;
    border: none;
}
input[type=range]::-moz-range-thumb {
    background: transparent;
    border: none;
}
input[type=range]::-ms-thumb {
    background: transparent;
    border: none;
}
/* hover show thumb */
input[type=range]:hover::-webkit-slider-thumb {
    background: #fff;
    border: none;
}
input[type=range]:hover::-moz-range-thumb {
    background: #fff;
    border: none;
}
input[type=range]:hover::-ms-thumb {
    background: #fff;
    border: none;
}


/* funny shapes */

.bigSquare, .smallSquare, .bigCircle, .bigCircle::before {
    z-index: -1;
    position: absolute;
    /* opacity: 50%; */
}

.bigSquare {
    width: 30vw;
    height: 30vw;
    border-radius: 50px;
    rotate: 107deg;
    bottom: -35%;
    right: 0;
    background: linear-gradient(144deg, rgba(32,18,58,1) 0%, rgba(56,18,58,1) 100%); 
}

.bigCircle, .bigCircle::before {
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    rotate: -23deg;
    bottom: 0;
    right: 10%;
    background: linear-gradient(#20123a, #20123a) padding-box,
    linear-gradient(to right, #20123a, #38123a) border-box;
    opacity: 80%;
    border: 20px solid transparent;
}

.smallSquare {
    background: linear-gradient(100deg, rgba(32,18,58,1) 0%, rgba(56,18,58,1) 100%); 
    width: 20vw;
    height: 20vw;
    border-radius: 20%;
    rotate: -107deg;
    bottom: -10%;
    left: 0;
    opacity: 30%;
}